.container{
    display: flex;
    justify-content:center;
    margin-top: 300px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: black;
}

.box:hover{
    background-color: white;
    border-radius: 50px;
    transition: 1s;
}

@media screen and (min-width:600px) {
    .box{
        height: 300px;
        width: 300px;
        background-color: rgb(216, 85, 107);
        
    }    
}