.container{
    background-color: rgb(212, 111, 111);
    margin: 10px;
    

}
a{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.container .nav .navcontent li{
    list-style-type: none;
    margin-left: 40px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 15%;
    display: flex;
    justify-content: end;
    
}



.navcontent{
    display: flex;
    justify-content: end;   
}

body{
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
